name: Keep Codespace Alive

on:
  schedule:
    - cron: "0 * * * *"   # har 1 ghante
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Codespace URL
        run: |
          curl -s https://super-duper-halibut-7v47vv6v9r54hr7jw.github.dev/ > /dev/null
